[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
requests = "*"
gpxpy = "*"
pillow = "*"
python-dateutil = "*"
django-markdownx = "*"
whitenoise = "*"
pytest-cov = "*"
"psycopg2-binary" = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
