@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a, a:link, a:hover {
    color: #336699;
}

header {
    background-color: #000;
    color: #fff;
}

header .navbar-brand {
    font-weight: 900;
}

header a {
    color: #fff;
}

header a:hover {
    color: #b3d7ff;
    text-decoration: none;
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.75rem; }
h3, .h3 { font-size: 1.5rem; margin-top: 2rem; }
h4, .h4 { font-size: 1.25rem; margin-top: 2rem; }
h5, .h5 { font-size: 1rem; margin-top: 2rem; }

.blockquote { font-size: 1rem; }

.navbar-collapse {
    text-align: right;
}

.bg-dark {
    background-color: #000 !important;
}

.hero {
    background-image: url('../images/header.jpg');
    height: 20vw;
    max-height: 500px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.stats {
    background-color: #809864;
    color: #fff;
    font-size: 1rem;
    border-top: 1px solid #5a6268;
    border-bottom: 1px solid #5a6268;
    padding: 0.4rem 0;
    text-align: center;
    background-image: url('../images/elevation.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

@media(min-width: 768px) {
    .stats {
        font-weight: 100;

    }

    .stats b {
        font-weight: 900;
        font-size: 3rem;
        display: block;
        margin-bottom: -1rem;
        margin-top: -0.5rem;
        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .stats { font-size: 0.8rem; }
    .stats b {
        font-size: 2rem;
        margin-bottom: -0.8rem;
    }
}

article {
    margin-bottom: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.map-container {
    background-color: #ccc;
    max-height: 100vh;
    position: sticky;
    top: 0;
    padding-right: 0;
}

#map {
    height: 100%;
}

.me-icon {
    background-image: url('../images/jacobian-icon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px black;
    border-radius: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
}

.article-container {
    margin-top: 4rem;
}

.page-footer {
    background-color: rgba(41, 69, 93, 0.9);
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: right;
}

.page-footer a {
    color: inherit;
}

.copyright {
    font-size: 1rem;
    font-weight: 100;
}
