@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a, a:link, a:hover {
    color: #313131;
    text-decoration: none;
}

header {
    background-color: #000;
    color: #fff;
}

header .navbar-brand {
    font-weight: 900;
}

header a {
    color: #fff;
}

header a:hover {
    color: #b3d7ff;
    text-decoration: none;
}

.navbar-collapse {
    text-align: right;
}

.bg-dark {
    background-color: #000 !important;
}

.hero {
    background-image: url('../images/lake.jpg');
    height: calc(15vw + 65px);
    max-height: 400px;
    background-size: 100%;
}

.stats {
    background-color: #809864;
    color: #fff;
    font-size: 1rem;
    border-top: 1px solid #5a6268;
    border-bottom: 1px solid #5a6268;
    padding: 0.4rem 0;
    text-align: center;
    background-image: url('../images/elevation.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

@media(min-width: 768px) {
    .stats {
        font-weight: 100;

    }

    .stats b {
        font-weight: 900;
        font-size: 3rem;
        display: block;
        margin-bottom: -1rem;
        margin-top: -0.5rem;
    }
}

article {
    margin-bottom: 5rem;
}

.map-container {
    background-image: url('../images/map.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 100vh;
    position: sticky;
    top: 0;
    padding-right: 0;
}

#map {
    height: 100%;
}

.article-container {
    margin-top: 4rem;
}

footer {
    background-color: rgba(41, 69, 93, 0.9);
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: right;
}

footer a {
    color: inherit;
}

.copyright {
    font-size: 1rem;
    font-weight: 100;
}
