{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JKM on the PCT</title>
    <meta name="description" content="JKM on the PCT">
    <meta name="application-name" content="JKM">
    <meta name="msapplication-tooltip" content="JKM">
    <meta name="apple-mobile-web-app-title" content="JKM">
    <link href="{% static 'bootstrap-4/css/bootstrap-reboot.min.css' %}" rel="stylesheet" property="stylesheet">
    <link href="{% static 'bootstrap-4/css/bootstrap.min.css' %}" rel="stylesheet" property="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" property="stylesheet">
</head>

<body class="pct-home">
    <header>
        <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">JKM on the PCT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">About</a>
                    <a class="nav-item nav-link" href="#">Gear</a>
                    <a class="nav-item nav-link" href="#">Twitter</a>
                    <a class="nav-item nav-link" href="#">Instagram</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero">

    </section>

    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <b>2500+</b>
                    Miles
                </div>
                <div class="col-sm-3">
                    <b>3</b>
                    States
                </div>
                <div class="col-sm-3">
                    <b>26</b>
                    Miles per day
                </div>
                <div class="col-sm-3">
                    <b>4</b>
                    Months
                </div>
            </div>
        </div>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <div class="container copyright">
            <p>©2018 Jacob Kaplan-Moss, LLC. All rights reserved</p>
        </div>
        </div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap-4/js/bootstrap.min.js' %}"></script>

</html>
