{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JKM on the PCT</title>
    <meta name="description" content="JKM on the PCT">
    <meta name="application-name" content="JKM">
    <meta name="msapplication-tooltip" content="JKM">
    <meta name="apple-mobile-web-app-title" content="JKM">
    <link href="{% static 'bootstrap-4/css/bootstrap-reboot.min.css' %}" rel="stylesheet" property="stylesheet">
    <link href="{% static 'bootstrap-4/css/bootstrap.min.css' %}" rel="stylesheet" property="stylesheet">
    <link href="{% static 'bigfoot/bigfoot-default.css' %}" rel="stylesheet" property="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" property="stylesheet">
    {% block extrahead %}{% endblock extrahead %}
</head>

<body class="pct-home">
    <header>
        <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="https://pct.jacobian.org/">JKM on the PCT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if post.slug == 'about' %}active{% endif %}" href="{% url 'post-detail' slug='about' %}">About</a>
                    <a class="nav-item nav-link {% if post.slug == 'gear' %}active{% endif %}" href="{% url 'post-detail' slug='gear' %}">Gear</a>
                    <a class="nav-item nav-link" href="https://twitter.com/jacobian">Twitter</a>
                    <a class="nav-item nav-link" href="https://instagram.com/jacobian">Instagram</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero">

    </section>


    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <b>{{ stats.days_elapsed|default:"0" }}</b>
                    days on trail
                </div>
                <div class="col-md">
                    <b>{{ stats.miles_hiked|floatformat|default:"0" }}</b>
                    miles hiked
                </div>
                <div class="col-md">
                    <b>{{ stats.miles_remaining|floatformat|default:"2652.6" }}</b>
                    miles to go
                </div>
                <div class="col-md">
                    <b>{{ stats.miles_per_day|floatformat|default:"-" }}</b>
                    miles per day
                </div>
                <div class="col-md">
                    <b>{{ stats.projected_finish_date|date:"M j"|default:"?" }}</b>
                    projected finish
                </div>
            </div>
        </div>
    </section>

    {% block content %}{% endblock %}

    <footer class="page-footer">
        <div class="container copyright">
            <p>© Jacob Kaplan-Moss. Design by <a href="https://www.gregnewman.org/">Greg Newman</a></p>
        </div>
        </div>
    </footer>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'bootstrap-4/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'bigfoot/bigfoot.min.js' %}"></script>
<script>
    $(function() {
        // gross hack to work around not being able to apply classes to markdown tables,
        // and bootstrap requiring those classes
        $("article.post table").addClass("table table-striped");

        $.bigfoot();
    });
</script>
{% block afterbody %}{% endblock %}
</html>
