{% extends "base.html" %}

{% block content %}
        <div class="row mr-0">
            <div class="col-md-5 map-container">
                <div id="map"></div>
            </div>
            <div class="col article-container">
                {% for update in updates %} {% include update.template %} {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock extrahead %}


{% block afterbody %}
    <script id="data" type="application/json">{{ json_data }}</script>
    <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/Leaflet.Icon.Glyph.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/map.js' %}"></script>
{% endblock afterbody %}

