{% extends "base.html" %} {% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-6 map-container">

        </div>
        <div class="col-md-6 article-container">
            {% for update in updates %}
            <article class="{{ update.type }}">
                <small>Mile {{ update.object.closest_mile }}, {{ update.when }}</small>
                <h2>{{ update.object }}</h2>
                <p>(update content would go here)</p>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
