{% load admin_urls %}
<article class="{{ update.type }}">
    {% if update.object.closest_mile %}
        <span class="badge badge-secondary">{{ update.object.closest_mile }}</span>
    {% endif %}
    <small>{{ update.when }}</small>
    {% if user.is_staff %}
        &bullet;
        <a href="{% url update.obj_meta|admin_urlname:'change' update.pk %}">edit</a>
        &bullet;
        <a href="{% url update.obj_meta|admin_urlname:'delete' update.pk %}">delete</a>
    {% endif %}
    {% block content %}{% endblock content %}
</article>
