{% load admin_urls %}
<article class="{{ update.type }}">
    <small>
        {% if update.object.closest_mile %}
        {{ update.object.closest_mile }} &bullet;
        {% endif %}
        {{ update.when }}
        {% if user.is_staff %}
            &bullet;
            <a href="{% url update.obj_meta|admin_urlname:'change' update.pk %}">edit</a>
            &bullet;
            <a href="{% url update.obj_meta|admin_urlname:'delete' update.pk %}">delete</a>
        {% endif %}
    </small>
    {% block content %}{% endblock content %}
</article>
